@use 'mixins' as *;

:host {
  display: grid;
  gap: var(--space-5);
  margin-bottom: clamp(2.5rem, 1.5rem + 3vw, 2rem);

  @include mq(desktop) {
    // grid-template-columns: 1fr auto;
    // align-items: end;
    // gap: var(--space-7);
  }
}

.heading {
  display: grid;
  gap: var(--space-4);
}

.index {
  color: var(--color-text-tertiary);
}

.aside {
  max-width: 44ch;

  &:empty {
    display: none;
  }
}
