<article class="card" [attr.aria-labelledby]="'project-' + project().slug">
  <div class="card__content">
    <div class="card__visual">
      <div class="card__meta">
        
        <h3 class="card__title" [id]="'project-' + project().slug">
        <span class="eyebrow">{{ index() | pad }}</span> {{ project().title }}
      </h3>
        <span class="eyebrow">{{ project().category }}</span>
      </div>

      <!-- <div class="card__infographic">
        <div class="infographic-element element-1">
          <div class="infographic-circle"></div>
          <div class="infographic-line"></div>
        </div>
        <div class="infographic-element element-2">
          <div class="infographic-bar"></div>
          <div class="infographic-bar short"></div>
        </div>
        <div class="infographic-element element-3">
          <div class="infographic-dot"></div>
          <div class="infographic-dot small"></div>
        </div>
      </div> -->
    </div>

    <div class="card__text">
      <div class="card__details">
        @if (project().subcategory) {
          <p class="eyebrow subcategory">{{ project().subcategory }}</p>
        }
        <p class="card__detail-text">{{ project().subtitle }}</p>
        <!-- @if (project().subsummary) {
          <p class="card__detail-text card__subsummary">{{ project().subsummary }}</p>
        } -->
        <div class="card__detail-section">
          <h4 class="card__section-title">PROJECT CONTEXT</h4>
          <p class="card__detail-text">{{ project().summary }}</p>
        </div>

        <div class="card__detail-section">
          <h4 class="card__section-title">MY ROLE</h4>
          <p class="card__detail-text">{{ project().role }}</p>
        </div>
      </div>

      <div class="card__actions">
        <a class="card__cta" [routerLink]="link()">
          View full case study
          <app-icon name="arrow-down-right" [size]="14" />
        </a>
        <span class="card__tag cardtag--dot">Interactive designs</span>
      </div>
    </div>
  </div>

  <div class="card__media">
    <app-media [asset]="project().cover" [ratio]="wide() ? '16 / 12' : '16 / 12'" />
  </div>
</article>
